@model IEnumerable<GymDomain.Model.Member>

@{
    ViewData["Title"] = "Список кліентів";
}

<h1 class="mt-3">Список кліентів</h1>

<p>
    @if (User.IsInRole("admin"))
                        {
    <a class="btn btn-outline-primary" asp-action="Create">Додати нового клієнта</a>
                        }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subscription)
            </th>
            <th>
                Групові класи
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
                <td>
                    @if (item.Subscription != null)
                    {
                        @Html.DisplayFor(modelItem => item.Subscription.Type)
                    }
                    else
                    {
                        <span>Без підписки</span>
                    }
                </td>
                <td>
            
                        @if (item.GroupClasses.Count() == 0)
                        {
                            <span>Без групових класів</span>
                        }
                        else
                        {
                            @foreach (var classItem in item.GroupClasses)
                            {
                                <span>@classItem.Name<br /></span>
                            <span>@classItem.Schedule<br /></span>
                            }
                        }
                    
                       
                </td>
                <td>
                    <div class="d-flex justify-content-end">
                        @if (User.IsInRole("admin"))
                        {
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-primary btn-sm mx-2">Редагувати</a>
                        }
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-info btn-sm mx-2">Детально</a>
                        @if (User.IsInRole("admin"))
                        {
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger btn-sm mx-2">Видалити</a>
                        }
                    </div>
            </td>
        </tr>
}
    </tbody>
</table>
